[submodule "dot.vim/bundle/syntastic"]
	path = dot.vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "dot.vim/bundle/vim-pathogen"]
	path = dot.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "dot.vim/bundle/vim-tmux-navigator"]
	path = dot.vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "dot.vim/bundle/vim-go"]
	path = dot.vim/bundle/vim-go
	url = git@github.com:fatih/vim-go.git
