[submodule "dot.vim/bundle/syntastic"]
	path = dot.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "dot.vim/bundle/vim-pathogen"]
	path = dot.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
